.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

 body{
  background-image: url('https://i.pinimg.com/originals/d7/a6/11/d7a61190a836bdcfc62bf97af4f4c74b.png');
  height: 100%;
  width: auto;
} 

li{
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    border:#FFE81F solid 1px;
}





h2{
  color: yellow;
}

p{
  color: yellow;
}

#card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: auto;
  height: auto;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px yellow;
  position: absolute;
  top: 500; 
  right: 200;

}

img{
    height: 20rem;
    width: auto;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 75px;
  text-align: center;
  /*padding-top: 100px;*/
  color: yellow;
}

.box {
  display: inline-block;
  padding: 30px;
}

#main {
  text-align: left;
  width: 80%;
  margin: auto;
}

h3 {
  font-size: 30px;
  font-family:'Courier New', Courier, monospace;
}

input {
  width: 25%;
  margin: auto;
}

#submit {
  background-color: #FFE81F;
  color: black;
}


/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 800;
    top: 475;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellow;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #fb0101;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #fb0101;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #character-list {
    position: absolute;
    top: 500;
    left: 700;
  }